@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
  font-family: 'Castoro', serif;
} */

/* logo */
img[alt='logo']{
    width: 5rem;
    aspect-ratio: 1/1;
}

/* from app */
#app {
    font-family:'Castoro', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
   
    
  }
  
  nav ul li {
    padding: 10px;

    
  }
  
  /* nav a.router-link-exact-active:hover {
    color:  brown;
    
  } */
  
  .active, nav .nav-link:hover{
    color: brown;
  
  }
  
  nav .nav-link{
    color: #A67B5B;
    font-weight: 900;
  }

 a.router-link-exact-active.nav-link{
  color:brown;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}

/* #Name{
  animation-name: cool;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

@keyframes cool{
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}  */