@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main,nav{
  background-color: tan;
}

div.d-flex{
  background: #443030 ;
  
}

/* html{
  font-family: 'Castoro', serif;
} */

/* logo */
img[alt='logo']{
    width: 3rem;
    aspect-ratio: 1/1;
}

/* from app */
#app {
  font-family: 'Castoro', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #443030;
   
    
  }

  nav ul li {
    padding: 10px;

    
  }
  
  /* nav a.router-link-exact-active:hover {
    color:  brown;
    
  } */
  
  .active, nav .nav-link:hover{
    /* color: #443030; */
    color: #A67B5B; 
  
  }
  
  nav .nav-link{
    /* color: #A67B5B; */
    color: #443030;
    font-weight: 900;
  }

 a.router-link-exact-active.nav-link{
  color: #443030;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}

/* #Name{
  animation-name: cool;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

@keyframes cool{
  0%   {background-color: burlywood;}
  25%  {background-color: beige;}
  50%  {background-color: rgb(234, 199, 124);}
  100% {background-color:khaki;}
}  */

